/* Study by Rayyu */
body {
  background-image: url("./back.jpg");
  color: #123456;
  font-weight: 600;
}

p {
  color: red;
  text-align: right;
}

body {
  background-color: lightblue;
}

a {
  font-weight: bold;
}

ol {
  list-style-type: lower-roman;
}

strong {
  font-weight: 500;
}

em {
  font-style: oblique;
  font-weight: 300;
}
