p {
  color: red;
  text-align: right;
}

body {
  background-color: lightblue;
}

a {
  font-weight: bold;
}

ol {
  list-style-type: lower-roman;
}

strong {
  font-weight: 900;
}

em {
  font-style: oblique;
  font-weight: 600;
}

table {
  width: 75%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

th {
  text-transform: uppercase;
  font-size: 90%;
  text-align: right;
  border-bottom: 2px solid black;
  border-top: 1px solid gray;
  width: 50%;
}
