/* Study by Rayyu */
p {
  color: red;
  text-align: right;
}

body {
  background-color: lightblue;
}

a {
  font-weight: bold;
}

ol {
  list-style-type: lower-roman;
}

strong {
  font-weight: 500;
}

em {
  font-style: oblique;
  font-weight: 300;
}

table {
  width: 60%;
  background-color: blue;
  margin-left: auto;
  margin-right: auto;
}
body {
    background-image: url("https://i.pinimg.com/564x/af/8d/63/af8d63a477078732b79ff9d9fc60873f.jpg")
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    color: #123456;
    font-weight: 600;
}
